body{
    font-size:80%;
    background-color:rgb(239, 239, 239);
    max-width: 940px;
    min-width: 720px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding:20px;
    border-style: solid;
    border-color: black;
    border-width: 4px 4px 4px 4px;
}

header{
    margin-right: 10px;
}

.menu .titulo{
    background-color: lightgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-style:solid;
    border-bottom-color: black;
}

.menu{
    border-radius: 20px;
    width: 600px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left:160px;
    text-align: center;
}

.links a:hover{
    color: red;
    font-size: 20px;
}

li {
    list-style-type:none;
}

a{
    color: blue;
}

ul{
    padding-left: 5px;
}

.links div{
    display: flex;
    justify-content:center;
    border-bottom-style:solid;
    border-bottom-color: black;
  }

#img1,
#img2{
    height: 200px;
    width: 290px;
    border-radius: 20px;
}

.row div{
    display: flex;
    justify-content: center;
}

.paisagem{
    float: left;
    width: 50%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    justify-content:space-evenly;
  }

section{
    width: 600px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left:160px;
}

footer{
    width: 600px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    margin-left:160px;
  }