body{
    background-image: url('../img/fundo.jpg');
    background-size:200vh auto;
    /*height: 100vh;*/
    color: white;
    /*background-color: black;*/
    
}

main{
    width:1000px;
    /*height: auto;*/
    margin:0 auto;
    background-color: rgb(17, 17, 17);
}

header {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: unset;
    /*background-image: url('../img/fundo.jpg');*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

#menu ul {
    display: flex;
    justify-content: space-around;
  }

#menu li {
    list-style: none; 
   }

#menu a{
    color: black;
}

a{
    text-decoration: none;
}

#menu a:hover{
    color: rgb(235, 33, 33);
}

.site-subtitle,
.site-title{
    text-align: center;
    height: 200px;
    font-family: 'Times New Roman', Times, serif;

}

.site-title{
    font-size: 4em;
    line-height: 5em;
}

.site-subtitle{
    font-size: 2em;
    line-height: 0.5em;
    min-height: 50vh;
}

.sobre h2,
.sites h2,
.contato h2{
    margin-bottom: 1.5em;
    font-size: 2em;
}

.sobre{
    padding: 2em;
    min-height: 50vh;
}

.sites{
    padding: 2em;
    min-height: 50vh;
}

.sites a:hover{
    color: rgb(235, 33, 33);
}

.contato{
    padding: 2em;
    min-height: 50vh;
}
.contato .icons {
    text-align: center;
}

.contato a {
    color: rgb(238, 144, 67);
    font-size: 4em;
    transition: text-shadow 1s;
  }

.contato a:active,
.contato a:hover  {
    text-shadow: 0px 0px 10px rgb(235, 33, 33);
  }

