body{
    background-image: url('../img/fundo.webp');
    background-size:200vh auto;
    color: white;
    
}

@media (min-width: 300px) {
    body {
      font-size: 10px;
    }
}

@media (min-width: 400px) {
    body {
      font-size: 15px;
    }
}
  
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }

    main{
        width: 590px;
        margin:0 auto;

    }
  }
  
  @media (min-width: 800px) {
    body {
      font-size: 18px;
    }

    main{
        width: 600px;
        margin:0 auto;

    }
  }
  
  @media (min-width: 900px) {
    body {
      font-size: 15px;
    }

    main{
        width: 800px;
        margin:0 auto;

    }
  }

  @media (min-width: 1000px) {
    body {
      font-size: 15px;
    }

    main{
        width: 900px;
        margin:0 auto;

    }
  }

header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: unset;
}


.menu {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
   
.menu a {
    display: block;
    padding: 5px 5px;
}
   
   
.menu a:active,
.menu a:hover {
    text-shadow: 0px 0px 3px rgb(161, 159, 159);
    border-radius: 5%;
}
   
a {
    color: black;
    text-decoration: none;
}

.site-subtitle,
.site-title{
    text-align: center;
    height: 200px;
    font-family: 'Times New Roman', Times, serif;
}

.site-title{
    font-size: 4em;
    line-height: 5em;
}

.site-subtitle{
    font-size: 2em;
    line-height: 0.5em;
    min-height: 50vh;
}

.sobre h2,
.sites h2,
.contato h2{
    margin-bottom: 1.5em;
    font-size: 2em;
}

.sobre{
    padding: 2em;
    min-height: 50vh;
    background-color: rgb(46, 44, 44);
}

.sobre div{
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-align: justify;
    text-indent: 1em;
}

.sites li{
    padding: 10px 0px;
}

.sites{
    padding: 2em;
    min-height: 50vh;
    background-color: rgb(46, 44, 44)
}

.sites a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: rgb(238, 144, 67);
  }

.sites a:hover{
    color: rgb(228, 89, 25);
}

.contato{
    padding: 2em;
    min-height: 50vh;
    background-color: rgb(46, 44, 44)
}
.contato .icons {
    text-align: center;
}

.contato a {
    color: rgb(238, 144, 67);
    font-size: 4em;
    transition: text-shadow 0.2s;
  }

.email p{
    color: rgb(238, 144, 67);
    text-shadow: 0px 0px 10px rgb(235, 33, 33);
}

.email i{
    color: rgb(238, 144, 67);
    text-shadow: 0px 0px 10px rgb(235, 33, 33);
    size: 1.5em;
    padding-top: 1.5em;
}

.contato a:active,
.contato a:hover  {
    text-shadow: 0px 0px 10px rgb(235, 33, 33);
  }



