body{
    background-color: rgb(206, 153, 153);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
    font-size: 2.5em;
    width: 500px;
    border:solid; 
    border-color: rgb(233, 179, 179);
    border-radius: 10px;
    margin-left: 30%;
    padding-left: 15px;
    background-color: rgb(241, 200, 200);
}

main{
    display: flex;
    flex-wrap: wrap;
}

div{
    /* border: black;*/
    border: solid; 
    border-color: rgb(233, 179, 179);
    background-color: rgb(231, 190, 190);
    padding: 10px;
    max-width: 40%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 5%;
    flex: 1 1 400px; 
    display: block;
    justify-content: space-evenly;
}

h3{
    text-align: center;
}

ul{
    list-style: none;
}

#elenco{
    display: inline-block;
    vertical-align:top;
    max-height: auto;
    max-width: auto;
    margin-left: 1.5%;
    padding-left: 20px;
    margin-top: 0%;
}

#elenco li{
    border:solid;
    border-color: rgb(238, 169, 169);
    background-color: rgb(231, 176, 176);
    margin-bottom: 10%;
}

img{
    width: 60%;
    height: 20%;
    border: solid;
    border-color: rgb(231, 176, 176);
}

#resumo{
    border: solid;
    border-color: rgb(241, 131, 131);
    padding: 2%;
    font-size: 1.3em;
    background-color: rgb(221, 175, 175);
}

p+ul{
    border-color: rgb(241, 131, 131);
    padding: 2%;
    font-size: 1.2em;
    background-color: rgb(221, 175, 175);
    width: auto;
}

#opinioes{
    background-color: rgb(213, 234, 248);
    padding: 2%;
}

#opinioes li{
    background-color: rgb(118, 193, 236);
    margin-bottom: 1%;
}

#opinioes li:nth-child(odd){
    background-color:rgb(230, 193, 75);
    width: 70px;
    padding: 2px;
}

#classificacao{
    border: solid;
    width: 30px;
    font-size: 1.5em;
    text-align: center;
}